numpy
tqdm
psutil
packaging
fastapi~=0.75.1
uvicorn==0.14
typer
redis
scipy
pytest
requests
click
transformers
readerwriterlock
--extra-index-url https://download.pytorch.org/whl/cu113
torch
torchvision
torchaudio 
-f https://release.colossalai.org
colossalai==0.1.5+torch1.11cu11.3
