colossalai
tqdm
psutil
packaging
numpy~=1.23.5
fastapi~=0.92.0
uvicorn~=0.20.0
typer
redis
scipy
pytest
requests
click
transformers
readerwriterlock
torch
torchvision
torchaudio
omegaconf
hiq-python
prometheus-fastapi-instrumentator

